POSTGRES_PASSWORD=yeho_pass
MINIO_ROOT_USER=yeho_minio
MINIO_ROOT_PASSWORD=yeho_minio_pass
YEHO_SECURITY_DEFAULT_ADMIN_PASSWORD=Admin@123456
YEHO_SECURITY_CRYPTO_SECRET=change-me-in-production
YEHO_BILLING_DEFAULT_WALLET_CREDITS=100000
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_DEFAULT_TIMEOUT=120
